@media screen and (max-width:1220px) {
    .social i {
        margin-right: 0;
    }

    .logo {
        margin-left: 10px;
    }

    .wrap1-text {
        margin: 100px 30px;
    }

    .wrap-4 .col-7 img {
        width: 270px;
        height: auto;
    }

    .client-colm {
        color: #000;
        border: 1px solid black;
        padding: 40px 50px;
        width: 426px;
        margin-bottom: 90px;
        margin-left: 50px;
    }

    .wrap-2 .card-box img {
        width: 440px;
        height: auto;
    }

    .wrap-5 .service img {
        width: 460px;
        height: auto;
    }

    .wrap-6 .adv-hover img {
        width: 235px;
        height: auto;
    }

    .wrap-8 .col-4 img {
        width: 310px;
        height: auto;
    }

    .wrap-11 .col-3 {
        padding: 110px 20px;
    }

}

@media screen and (max-width:980px) {

    .col-t-1 {
        flex-basis: 8.33%;
        max-width: 8.33%;
    }

    .col-t-2 {
        flex-basis: 16.66%;
        max-width: 16.66%;
    }

    .col-t-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-t-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }

    .col-t-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }

    .col-t-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-t-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }

    .col-t-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }

    .col-t-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-t-10 {
        flex-basis: 83.33%;
        max-width: 83.33%;
    }

    .col-t-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .wrap-2 .col-4 img {
        width: 290px;
        height: auto;
    }

    .wrap-2 .card-box img {
        width: 350px;
        height: auto;
    }

    .wrap-4 .col-7 img {
        width: 235px;
        height: auto;
    }

    .wrap-5 .service img {
        width: 347px;
        height: auto;
    }

    .contact-info {
        flex-flow: column;
    }


    .client-colm {
        width: 90%;
        margin-left: 70px;
    }

    .wrap-8 .col-4 img {
        width: 395px;
        height: auto;
    }

    .wrap-11 .col-3 {
        padding: 40px 20px;
    }

    .social .flex {
        flex-wrap: wrap;
    }

    .social .flex p {
        justify-content: center;
        width: 100%;
    }

    .menu {
        margin-right: 50px;
    }

}

@media screen and (max-width:768px) {

    .col-m-1 {
        flex-basis: 8.33%;
        max-width: 8.33%;
    }

    .col-m-2 {
        flex-basis: 16.66%;
        max-width: 16.66%;
    }

    .col-m-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-m-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }

    .col-m-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }

    .col-m-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-m-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }

    .col-m-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }

    .col-m-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-m-10 {
        flex-basis: 83.33%;
        max-width: 83.33%;
    }

    .col-m-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .vision-img {
        display: none;
    }

    .wrap-4 .col-7 img {
        width: 385px;
        height: auto;
    }

    .wrap-5 .service img {
        width: 340px;
        height: auto;
    }

    .wrap-6 .adv-hover img {
        width: 220px;
        height: auto;
    }

    .wrap-9 .col-3 {
        padding: 20px 0;
    }

    .slide-blog img {
        width: 100%;
        height: auto;
    }

    nav .menu {
        display: none;
    }

    .wrap-2 .card-box img {
        width: 340px;
        height: auto;
    }

    .logo {
        margin-left: 300px;
    }

    .menu-bar {
        position: absolute;
        cursor: pointer;
        left: 5%;
        top: 100px;

    }

    nav .menu {
        margin-left: 35px;
        line-height: 50px;
        transition: all .5s ease-in;
    }

    .menu-bar span {
        display: block;
        width: 45px;
        height: 6px;
        margin: 5px 3px;
        color: #fff;
        background: #007bff;
        transform-origin: right center;
    }

    .first-btn {
        width: 90px;
    }




}

@media screen and (max-width:460px) {

    .col-p-1 {
        flex-basis: 8.33%;
        max-width: 8.33%;
    }

    .col-p-2 {
        flex-basis: 16.66%;
        max-width: 16.66%;
    }

    .col-p-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-p-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }

    .col-p-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }

    .col-p-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-p-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }

    .col-p-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }

    .col-p-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-p-10 {
        flex-basis: 83.33%;
        max-width: 83.33%;
    }

    .col-p-12 {
        flex-basis: 80%;
        max-width: 100%;
    }

    .count p {
        padding: 0 0;
    }

    .wrap-10 .blog {
        padding: 25px 0;
    }

    .wrap-8 .project {
        padding: 25px 0;
    }


    .wrap-6 .adv-hover img {
        width: 325px;
        height: auto;
    }

    .wrap-6 .advisor {
        padding: 25px 0;
    }

    .wrap-5 .best-service {

        padding: 40px 0;

    }

    .wrap-7 .client {
        padding: 25px 0;
    }



    .wrap-3 .join-us {
        padding: 35px 0;
    }

    .logo {
        margin-left: 115px;
    }

    .menu-bar {
        top: 172px;
    }

    .social i {
        margin-right: -24px;
        padding: 20px;
    }

    .contact-info p {
        text-align: center;
        line-height: 30px;
    }

    .client-colm {
        margin-left: 44px;
        width: 280px;
    }

    .client-text p {
        margin-left: 27px;
    }


}


@media screen and (max-width:1220px) {
    .social i {
        margin-right: 0;
    }

    .logo {
        margin-left: 10px;
    }

    .wrap1-text {
        margin: 100px 30px;
    }

    .wrap-4 .col-7 img {
        width: 270px;
        height: auto;
    }

    .client-colm {
        color: #000;
        border: 1px solid black;
        padding: 40px 50px;
        width: 426px;
        margin-bottom: 90px;
        margin-left: 50px;
    }

    .wrap-2 .card-box img {
        width: 440px;
        height: auto;
    }

    .wrap-5 .service img {
        width: 460px;
        height: auto;
    }

    .wrap-6 .adv-hover img {
        width: 235px;
        height: auto;
    }

    .wrap-8 .col-4 img {
        width: 310px;
        height: auto;
    }

    .wrap-11 .col-3 {
        padding: 110px 20px;
    }
    .wrapper{height: 50vh;}

}

@media screen and (max-width:980px) {

    .col-t-1 {
        flex-basis: 8.33%;
        max-width: 8.33%;
    }

    .col-t-2 {
        flex-basis: 16.66%;
        max-width: 16.66%;
    }

    .col-t-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-t-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }

    .col-t-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }

    .col-t-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-t-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }

    .col-t-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }

    .col-t-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-t-10 {
        flex-basis: 83.33%;
        max-width: 83.33%;
    }

    .col-t-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .wrap-2 .col-4 img {
        width: 290px;
        height: auto;
    }

    .wrap-2 .card-box img {
        width: 350px;
        height: auto;
    }

    .wrap-4 .col-7 img {
        width: 235px;
        height: auto;
    }

    .wrap-5 .service img {
        width: 347px;
        height: auto;
    }

    .contact-info {
        flex-flow: column;
    }

    /* .contact-info i{margin-right: 30px;} */

    .client-colm {
        width: 90%;
        margin-left: 70px;
    }

    .wrap-8 .col-4 img {
        width: 395px;
        height: auto;
    }

    .wrap-11 .col-3 {
        padding: 40px 20px;
    }

    .social .flex {
        flex-wrap: wrap;
    }

    .social .flex p {
        justify-content: center;
        width: 100%;
    }

    .menu {
        margin-right: 50px;
    }

}

@media screen and (max-width:768px) {

    .col-m-1 {
        flex-basis: 8.33%;
        max-width: 8.33%;
    }

    .col-m-2 {
        flex-basis: 16.66%;
        max-width: 16.66%;
    }

    .col-m-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-m-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }

    .col-m-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }

    .col-m-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-m-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }

    .col-m-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }

    .col-m-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-m-10 {
        flex-basis: 83.33%;
        max-width: 83.33%;
    }

    .col-m-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .vision-img {
        display: none;
    }

    .wrap-4 .col-7 img {
        width: 385px;
        height: auto;
    }

    .wrap-5 .service img {
        width: 340px;
        height: auto;
    }

    .wrap-6 .adv-hover img {
        width: 220px;
        height: auto;
    }

    .wrap-9 .col-3 {
        padding: 20px 0;
    }

    .slide-blog img {
        width: 100%;
        height: auto;
    }

    nav .menu {
        display: none;
    }

    .wrap-2 .card-box img {
        width: 340px;
        height: auto;
    }

    .logo {
        margin-left: 300px;
    }

    .menu-bar {
        position: absolute;
        cursor: pointer;
        left: 5%;
        top: 100px;
    }

    nav .menu {
        margin-left: 35px;
        line-height: 50px;
        transition: all .5s ease-in;
    }

    .menu-bar span {
        display: block;
        width: 45px;
        height: 6px;
        margin: 5px 3px;
        color: #fff;
        background: #007bff;
        transform-origin: right center;
    }

    .first-btn {
        width: 90px;
    }
}

@media screen and (max-width:460px) {

    .col-p-1 {
        flex-basis: 8.33%;
        max-width: 8.33%;
    }

    .col-p-2 {
        flex-basis: 16.66%;
        max-width: 16.66%;
    }

    .col-p-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-p-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }

    .col-p-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }

    .col-p-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-p-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }

    .col-p-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }

    .col-p-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-p-10 {
        flex-basis: 83.33%;
        max-width: 83.33%;
    }

    .col-p-12 {
        flex-basis: 80%;
        max-width: 100%;
    }

    .count p {
        padding: 0 0;
    }

    .wrap-10 .blog {
        padding: 25px 0;
    }

    .wrap-8 .project {
        padding: 25px 0;
    }

    .wrap-6 .adv-hover img {
        width: 325px;
        height: auto;
    }

    .wrap-6 .advisor {
        padding: 25px 0;
    }

    .wrap-5 .best-service {
        padding: 40px 0;
    }

    .wrap-7 .client {
        padding: 25px 0;
    }

    .wrap-3 .join-us {
        padding: 35px 0;
    }

    .logo {
        margin-left: 115px;
    }

    .menu-bar {
        top: 172px;
    }

    .social i {
        margin-right: -24px;
        padding: 20px;
    }

    .contact-info p {
        text-align: center;
        line-height: 30px;
    }

    .client-colm {
        margin-left: 44px;
        width: 280px;
    }

    .client-text p {
        margin-left: 27px;
    }
/* .wrapper{height: 30vh;} */

}
